<style>
  .searchInput::placeholder {
    color: black !important;
  }
</style>
<nav
  class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YelpCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-xl-5">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
        <form class="d-flex mx-xl-5" action="/campgrounds" method="get">
          <input
            class="form-control me-2 bg-light text-dark searchInput"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="query"
            spellcheck="true"
          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <%if(!currentUser){%>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
      <%} else {%>
      <a class="nav-link" href="/logout">Logout</a>
      <%}%>
    </div>
  </div>
</nav>
