#cluster-map {
  width: 100%;
  height: 40vh;
}

#map {
  width: 100%;
  height: 30vh;
  margin-bottom: 1rem;
}

/* #fileInputError {
  color: red;
} */

//i had to overwrite bootstrap, i could write my own validation, but i device to use a div fill with errors (the form has class nonvalidate
//so the browser validaiton API wont work )
/* .customErrorInput {
  border-color: #dc3545 !important;
  box-shadow: none !important;
  background-image: none !important; */
/* border-color: --bs-form-invalid-border-color; */

/* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
/* } */

/* this never worked */
/* .custom-tooltip {
  --bs-tooltip-bg: "#FF0000";
} */

/* password eye toggle  */
#passwordContainer {
  position: relative;
}
/* #eyeSVGcontainer {
  height: 24px;
  position: relative;
} */
#showPassword,
#hidePassword {
  position: absolute;
  top: 15%;
  right: 4%;
  color: grey;
}

.hide {
  display: none;
}
/* need to swith off bootstrap green tick on the password field */
#password {
  background-image: none !important;
}

#suggestedPassContainer {
  position: relative;
}
#suggestedPasswordSvg {
  position: absolute;
  top: 15%;
  right: 4%;
  color: grey;
}
