//this is for the file imput to say choose image(s).. rather than choose files

.custom-file-button input[type="file"] {
  margin-left: -2px !important;
}
.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none;
}
.custom-file-button input[type="file"]::file-selector-button {
  display: none;
}
.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

//this is when sleecting files for fiel input we can see the preview of the seelcted images,
//fileInputPreview id is the div that displays the thumbnails of the selected images
.fileInputPreview {
  display: flex;
  flex-wrap: wrap;
}
.fileInputPreview div {
  /* height: 10vh;
  margin-bottom: 0.25rem; */
  display: inline-block;
  text-align: center;
}
.fileInputPreview div p {
  padding: 0.25rem;
}
.fileInputPreview div img {
  /* height: 80%; */
  height: 12vh;
  border-radius: 5px;
  /* margin-bottom: 0.25rem; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  opacity: 85%;
}

.fileInputPreview div:not(:last-child) {
  margin-right: 0.25rem;
}
