<% layout('layouts/boilerplate') -%>
<style>
  .custom-tooltip {
    --bs-tooltip-bg: "#FF0000";
    /* --bs-tooltip-color: var(--bs-white); */
  }
</style>
<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5>Register</h5>
          <form
            class="needs-validation"
            action="/register"
            method="post"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <svg
                id="example"
                data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-title="<p> Username must:</p>
        <ul>
          <li>contain only letters or numbers</li>
          <li>Be between 6 and 20 characters long</li>
        </ul>"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M11 17h2v-6h-2zm1-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
                />
              </svg>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                pattern="^[a-zA-Z0-9]{6,20}$"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password </label>
              <svg
                data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-title="<p> Password must contain at least:</p>
            <ul>
              <li>one upper case letter</li>
              <li>one lower case letter</li>
              <li>one number</li>
              <li>one special character from the following: @#$%^?,!</li>
              <li>Be between 6 and 20 characters long</li>
            </ul>"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M11 17h2v-6h-2zm1-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
                />
              </svg>
              <!-- &, >, < are not allowed by sanitize-html, so made sure to remove them from password regex -->
              <!-- joi validation does not like \d for numbers -->
              <input
                type="password"
                name="password"
                id="password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^!?,])[a-zA-Z0-9@#$%^!?,]{6,20}$"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // const exampleEl = document.getElementById("example");
  // const tooltip = new bootstrap.Tooltip(exampleEl, options);
</script>
